body {
    font-size: 20px;
}

header,
main,
footer {
    width: 90%;
    max-width: 600px;
    margin: auto;
}

header,
footer {
    background-color: rgba(0, 38, 255, 0.828);
    border-radius: 8px;
}


header {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    padding: 15px;
    margin-top: 1em;
    align-items: center;

}

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    
}

picture {
    width: 20%;
}

h1 {
    
    color: black;
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    width: 80%;
    float: right;
    }

h2 {
    font-family: 'Comfortaa', cursive;
    }

ul {
    font-family: 'Arial Narrow', Arial, sans-serif;
    line-height: 1.5;
}